<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>企業紹介ページ</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" href="TRUNK HAKKASON2.css">

</head>
<body>

<div id="container">

<div id="header"><h1>
</div>

<div id="menu">
<ul style="list-style:none;">
<li><a href="http://dena.com/jp/company/">ホーム</a></li>
<li><a href="#company">企業情報</a></li>
<li><a href="#people">学生の声</a></li>
<li><a href="#pick up people">PICK UP! <br>訪問した人</a></li>
<li><a href="#event">イベント</a></li>
</ul>
</div>

<div id="main">

<div id="contents">
<h2 id="company">企業情報</h2>
<img src="<%= asset_path "dena.png" %>" >
<p>
  会社概要

商号	株式会社ディー・エヌ・エー<br>
（英文名　DeNA Co., Ltd.）<br>
所在地<br>
渋谷オフィス（本社）<br>
〒150-8510 東京都渋谷区渋谷2-21-1 渋谷ヒカリエ（アクセスマップ）<br>
初台オフィス<br>
〒151-0053 東京都渋谷区代々木4-30-3 新宿MIDWESTビル（アクセスマップ）<br>
新潟カスタマーサポートセンター<br>
〒950-0088　新潟県新潟市中央区万代2-3-6<br>
設立年月日	1999年3月4日<br>
資本金	103億97百万円 （2015年3月末時点）<br>
株式公開市場	東京証券取引所・市場第一部<br>
決算期	毎年3月31日<br>
従業員数	連結：2,424名（単体：1,049名） （2015年3月末時点）<br>

<br>
役員<br>
　　　　　
（2015年6月20日付）<br>
取締役　会長　南場 智子<br>
代表取締役社長兼CEO　守安 功<br>
取締役　川崎 修平<br>
社外取締役　鳩山 玲人<br>
社外取締役　大塚 博行<br>
常勤監査役　渡辺 武経<br>
監査役　飯田 善<br>
監査役　藤川 久昭<br>
監査役　近藤 幸直<br>
執行役員　小林 賢治<br>
執行役員　柴田 大介<br>
執行役員　中島 宏<br>
執行役員　松井 毅<br>
執行役員　渡部 辰城<br>
執行役員　木村 秀夫<br>
執行役員　渡辺 圭吾<br>
執行役員　村田 マリ<br>
執行役員　池田 修<br>
執行役員　大井 潤<br>
執行役員　原田 明典<br>
執行役員　任 宜<br>

<br>
事業内容<br>
<br>
ゲーム<br>
eコマース<br>
エンターテインメント<br>
キュレーションプラットフォーム<br>
自動車<br>
球団運営<br>
その他<br>
取引銀行	三菱東京UFJ銀行<br>
三井住友銀行<br>
組織図<br>

</p>
<!--<p>こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。</p>
<ul class="products">
    <li>

        <p>説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。</p>
    </li>
    <li>

        <p>説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。</p>
    </li>
    <li>

        <p>説明です。説明です。説明です。説明です。説明です。説明です。説明です。説明です。</p>
    </li>
</ul> -->
<!--<h2 id="people">学生の声</h2>
<div class="sample">
    <span class="badge">NEW!!!</span>
<br>

</div>-->

</div><!-- #contents -->

<div id="sidebar">
<h3 id="pick up people">PICK UP! 訪問した人</h3>
<div class ="tsuboi">
  <img src="<%= asset_path "tsuboi.png" %>">
</div>

<p>こんにちは。<br>私の名前は坪井俊輔です。<br>
  ●DeNAに入社、辞めるまで<br>
  DeNAに入社して辞めるまでの1年11か月間、幸せなことに、毎日が学び・発見・挫折・挑戦、の連続。<br>
  あ、ちょっとブラック的なベンチャー的な香り満載ｗ><br>

  ただね、ちがうんだよ。<br>
  私はDeNA大好きやったし、心底「入れてよかったなー」と思える会社だった、事実に。<br>
  他の会社は分からないから比較はできないけど、<br>
  本当に、DeNAには一緒に働きたいと思える人や尊敬できる人が沢山いてね。<br>
  そんな人と仕事が出来るなんて、と辞めた今だから思える。<br>
  こんな未熟で世間知らずでパッパラパーの私をチームに入れてくれ、任せてくれ、どんだけ心の広い会社なんだと。<br>
  こんな小娘に普通に億単位の仕事まかせていいのか？！つぶれるんじゃね？！って<br>
  結構何回も思いました。<br>
</p>
<h3 id="event">イベント</h3>
<p>DENAの採用説明会について</p>
<ul class="submenu">
<li><a href="">企業説明会第一回</a></li>
<li><a href="">企業説明会第二回</a></li>
<li><a href="">企業説明会第三回</a></li>
</ul>

<h3>南場智子さんのお話</h3>
<img src="<%= asset_path "bba.png" %>">
<p>DENAについて</p>
<p>1986年、津田塾大学卒業後、マッキンゼー・アンド・カンパニーに入社。<br>1990年、ハーバード・ビジネス・スクールにてMBAを取得し、1996年、マッキンゼーでパートナー（役員）に就任。<br>1999年に同社を退社して株式会社ディー・エヌ・エーを設立、代表取締役社長に就任。<br>2011年に代表取締役社長を退任。<br>取締役を経て、2015年6月、取締役会長に就任（現任）。<br>
</p>
<p><a href="http://logmi.jp/121113">DeNA南場氏「就職のピラミッド構造は崩れ始めた」学生に望む、人生初の意思決定</a>
</p>
</div><!-- #sidebar -->

</div><!-- #main -->

<div id="shunsuke">
<h2 id="people">学生の声</h2>
<div class="sample">
    <span class="badge">NEW!!!</span>
<br>
</div>

<br>
<img src="<%= asset_path "tsuboi.png" %>" >
<p>横浜国立大学　二年　坪井俊輔</p>
<p>こんにちは。はじめまして～<br>
  応募したきっかけはFacebookで流れてきたDMを見たことから始まりました。<br>
当初、起業をしよう、このアプリケーションを世界へ届けようと考えていたが、学生として起業するには多くの資金がかかるため、断念してしまっていた。<br>
しかしながら大学在学中にこのアプリケーションは将来の若者の育成には欠かせないものであり、尚且つ様々な科学の知的好奇心を生み出すため、大切だと思っていた時に、この広告を見たため、すぐに説明会に参加、応募しようと決意しました。<br>なぜなら、現代の社会において世界の一部を変えることができる人がいるとすれば、それは何か新しいことを考え、行動に移せる人であると思う。<br>自分がそのような人でありたい、自分のアイデアを世界に伝える、それが世界を少しでも変えることができるとすれば、自分が起業する価値があると考えています。<br>そのような人がたくさんいるであろう場でもっと多くのことを学び、世界の若者へとこのアプリケーションを届けたいです。<br>それが私の応募動機です。<br>

</p>
</div>

<div id="footer">Copyright 2016, trunk.com</div>

</div><!-- #container -->


</body>
</html>
