
<img src="<%= asset_path "profile.png" %>" >

<h1>profile</h1>
<p>テキストテキストテキストテキストテキストテキスト</p>
<button class="btn">メッセージ</class>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>
<h1>行った企業</h1>
<ul>
  <li class="company1"></li>
  <li class="company2"></li>
  <li class="company3"></li>
  <li class="company4"></li>
  <li class="company5"></li>
  <li class="company6"></li>
  <li class="company7"></li>
  <li class="company8"></li>
</ul>
