.profileimg{
padding-top: 100px;
padding-left: 100px;
}
.tag{
background-color:#c0c0c0;
border: 2px #808080 solid;
}

.profile{
display: inline-block;
margin-top: 100px;
margin-left: 50px;
}
.profile img{
  display: inline-block;
  height: 200px;
}
.profile .profile_right{
  display: inline-block;
  vertical-align: top;
  height: 200px;
  text-align: left;
  padding: 2px;
  width:800px;
  border:2px solid #333333;
  margin-top: 100px;
}
button{
  margin-top: 30px;
  width:75px;
  height:25px;
}
.profile .profile_title{

}
.profile_middle{

}

.btn{
  margin-left: 200px;
}
.tag{

  	margin-left :600px;
    width:300px;
    border: solid 5px #fff; border-collapse: collapse;
    margin-bottom: 50px;
    color:white;

}



.interested{
  margin-left: 700px;
}

table, td, th { border: 5px #fff solid;
text-align: center;
 }

.company{

}

.go{
  margin-top: 50px;
  text-align: center;
    border:2px solid #333333;
    width: 300px;
    margin: auto;
}

.company1 ul{
   display: block;
margin-left: 100px;
width:1200px;
}

.company1 li{
display: inline-block;
margin-left: 100px;
}

.company2 ul{
  width: 1300px;
  	margin: auto;
  	overflow: hidden;
}
.company2 li{
display: inline-block;
margin-left: 150px;
}

.company3 ul{
  width: 1300px;
  	margin: auto;
  	overflow: hidden;
}
.company3 li{
display: inline-block;
margin-left: 100px;
}
