.profileimg{

}
.tag{
background-color: gray;
border: 2px #808080 solid;
}

.profile{
display: inline-block;

}
.profile img{
  display: inline-block;
  height: 200px;
}
.profile .profile_right{
  display: inline-block;
  vertical-align: top;
  height: 200px;
  border:2px solid #333333;
}
.profile .profile_title{

}
.profile_middle{

}
.tag{
  margin-left : auto ;

  	margin-right : auto ;
}
.go{
  text-align: center;
}
.company{
  display: inline-block;
}
