.header{

}
.saidbar{
 float:right;
 top:none;
 }

.googleimg1{}

.googleimg2{}

.googleimg3i{}

.member ul li {
display:inline-block;
width:100px;
list-style:none;
//display:table-cell;
}
.member ul{
width:300px;
}
.suzuki{
 width: 100px;
 display: inline-block;
}

.nakayama{
display: inline-block;
 width: 100px;
}

.makuri{
display: inline-block;
 width: 100px;
}



